FLASK_SECRET_KEY='your_flask_secret_key_here'
ERLC_API_KEY='your_api_key_here'
ROBLOX_CLIENT_ID='your_roblox_client_id_here'
ROBLOX_CLIENT_SECRET='your_roblox_client_secret_here'
ROBLOX_REDIRECT_URI='your_roblox_redirect_uri_here'